@media screen and (max-width:30em) and (min-width:20em) {
      
    .c1{
        background-color: black;
        height:60rem;
    }
.logo{
    width: 3rem;
}


.nav ul li {
    display: none;
}
.hd{
    width: 30rem;
}
    
h4{
    margin-bottom: 3rem;
    font-size:1.4rem;
    }
    .herotext h1{
        font-size:6rem; 
         
    }
    .pp{
        font-size: 2rem;
    }
    .qq{
        font-size: 1rem;
        line-height: 100%;
        
}